.main-header {
    width: 100%;
    height: 44px;
    background-color: #f9f9fc;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-header-nav-list {
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header-nav-list * {
    color: #1d1d1f;
    font-size: 17px;
}

.main-header-nav-list button {
    border: none;
    background-color: transparent;
}

.announcement-bar {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d1d1f;
    color: white;

    height: 52.5781px;
    font-size: 14px;
}

.announcement-bar a {
    color: #2997ff;
}